[% PROCESS header.tt2%]
[% title = 'Добавить тип' -%]
<form method="post" action="[% c.uri_for('insert') %]">
     <p>Тип блюда:<input type="text" name="type_name" value = [% type_name %]></p>
     <p><input type="submit" name="Submit" value="Ввести"></p>
</form>
[% PROCESS footer.tt2%]


    
    
