[% title = 'Рецепт' -%]
<p><b>[% dish.dish_name -%]</b></p>
<hr>
<p>[% dish.recipe -%]</p>
<hr>
<a href = "[% c.uri_for(c.controller('Recipe').action_for('index')) %]" ><img src="/static/images/exit.gif"></a>
