<table width="100%">
<col align = "left">
<col align = "right">
<tr>
<td> <a href="[% c.uri_for('/recipe') %]">Список блюд</a></td>
<td> <a href="[% c.uri_for('/type') %]">Справочник типов</a></td>
</tr>
</table>
<hr>
