[% # This is a TT comment. -%]
<hr>
<table>
<tr>
<td><b>#</b></td><td><b>Название</b></td><td><b>Рецепт</b></td>
</tr>
[% FOREACH dish IN dishs -%]
<tr>
<td>[% dish.dish_id %]</td><td>[% dish.dish_name %]</td><td>[%dish.receipt-%]</td>
[% END -%]
</tr>
</table>